<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CF Apps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>651C84751B2A7FB50006DC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>651C848D1B2A7FB60006DC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65C8E1EC1CB066F4004FD199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
